<div flex layout="column" layout-align="center center" class="table-responsive-vertical">
    <h2>Localizaciones</h2>
    <table flex-gt-lg="70" flex-gt-sm="100"  id="table" class="table table-hover table-mc-amber table-striped md-whiteframe-z2-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Descripcción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="location in vm.locations track by $index">
                <td  data-title="Nombre">{{location.name}}</td>
                <td  data-title="Ciudad">{{location.city}}</td>
                <td  data-title="Descripcción">{{location.description}}</td>
                <td  data-title="Acciones">
                        <div layout="row" layout-align="end center">
                         <md-button class="md-icon-button table-button" ng-click="vm.updateLocation(location.id)" aria-label="Edit">
                            <md-tooltip>
                                Modificar
                            </md-tooltip>
                            <md-icon md-font-set="fa fa-lg fa-edit"></md-icon>
                        </md-button>

                        <md-button class="md-icon-button table-button" ng-click="vm.removeLocation(location.id, $index)" aria-label="Remove location">
                            <md-tooltip>
                                Borrar
                            </md-tooltip>
                            <md-icon md-font-set="fa fa-lg fa-trash"></md-icon>
                        </md-button>
                      </div>
                       
              
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>

<md-button aria-label="Add location" class="md-fab fixed" ng-click="vm.addLocationPopup()">
    <md-tooltip>
        Añadir localización
    </md-tooltip>
    <md-icon aria-label="Add"  md-font-set="fa fa-lg fa-plus"></md-icon>
</md-button>
    

