<div class="md-padding">
	<md-card class="button" flex-gt-sm="100" flex-gt-md="70" ui-sref="app.detail({ deviceId: 0 })">
		<div class="header" layout="row" layout-wrap >
			<div flex="30" layout="row" layout-align="center center" class="background-hue1" >
			    <md-icon md-font-set="iconDevice  fa fa-exchange" ></md-icon>
			</div>
		  	<div flex="70" layout="row" layout-align="start center" class="background-hue1">
		    	<h3 class="md-title">Contador de aforo</h3>
		  	</div>
		</div>
		<div layout="row" layout-sm="column">
			<div flex="33" flex-sm="100" layout="column" layout-align="center center" >
				<h3 class="md-display-1">50% <span hide-sm class="md-caption"></span></h3>
			</div>
			<div flex="33" flex-sm="100" layout="row" layout-align="center center">
				<p>Biblioteca ETSII</p>
			</div>
			<div flex="33" flex-sm="100" layout="column" layout-align="center center" >
				<h3><md-icon  md-font-set="iconDevice fa fa-thumbs-o-up" class="plugged"></md-icon></h3>
				<p><span class="md-caption">Actualizado: hace 2 min</span></p>
			</div>
		</div>
	</md-card>

	<md-card class="button" flex-gt-sm="100" flex-gt-md="70">
		<div class="header" layout="row" layout-wrap>
			<div flex="30" layout="row" layout-align="center center" class="background-hue1">
			    <md-icon md-font-set="iconDevice  fa fa-fire"></md-icon>
			</div>
		  	<div flex="70" layout="row" layout-align="start center" class="background-hue1">
		    	<h3 class="md-title">Sensor de temperatura</h3>
		  	</div>
		</div>
		<div layout="row" layout-sm="column">
			<div flex="33" flex-sm="100" layout="column" layout-align="center center" >
				<h3 class="md-display-1">20°<span hide-sm class="md-caption"></span></h3>
			</div>
			<div flex="33" flex-sm="100" layout="row" layout-align="center center">
				<p>Mi casa</p>
			</div>
			<div flex="33" flex-sm="100" layout="column" layout-align="center center" >
				<h3><md-icon  md-font-set="iconDevice fa fa-thumbs-o-down" class="unplugged"></md-icon></h3>
				<p><span class="md-caption">Actualizado: hace 15 min</span></p>
			</div>
		</div>
	</md-card>

</div>
