<div class="md-padding">
	<md-card class="button" flex-gt-sm="100" flex-gt-md="70" ng-click="">
		<div class="header counter" layout="row" layout-wrap>
			<div flex="30" layout="row" layout-align="center center">
			    <md-icon md-font-set="iconDevice  fa fa-exchange"></md-icon>
			</div>
		  	<div flex="70" layout="row" layout-align="start center">
		    	<h3 class="md-title">Contador de aforo</h3>
		  	</div>
		</div>
		<div layout="row">
			<div flex="33" layout="column" layout-align="center center" class="counter square1">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
			<div flex="33" layout="row" layout-align="center center" class="counter square2">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
			<div flex="33" layout="row" layout-align="center center" class="counter square3">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
		</div>
	</md-card>

	<md-card class="button" flex-gt-sm="100" flex-gt-md="70">
		<div class="header temperature" layout="row" layout-wrap>
			<div flex="30" layout="row" layout-align="center center">
			    <md-icon md-font-set="iconDevice  fa fa-fire"></md-icon>
			</div>
		  	<div flex="60" layout="row" layout-align="start center">
		    	<h3 class="md-title">Sensor de temperatura</h3>
		  	</div>
		</div>
		<div layout="row">
			<div flex="33" layout="column" layout-align="center center" class="temperature square1">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
			<div flex="33" layout="row" layout-align="center center" class="temperature square2">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
			<div flex="33" layout="row" layout-align="center center" class="temperature square3">
				<h3 class="md-display-1">50% <span hide-sm class="md-caption">Aforo</span></h3>
			</div>
		</div>
	</md-card>

</div>
