<div flex layout="column" layout-align="center center" class="table-responsive-vertical">
    <h2>Localizaciones</h2>
    <table flex-gt-lg="70" flex-gt-sm="100"  id="table" class="table table-hover table-mc-amber table-striped md-whiteframe-z2-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Descripcción</th>
                <th>Sensores</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableButton" title="Ver localización" ng-repeat="location in vm.locations track by $index" ui-sref="app.detail({ locationId: location.id })">
                <td  data-title="Nombre">{{location.name}}</td>
                <td  data-title="Ciudad">{{location.city}}</td>
                <td  data-title="Descripcción">{{location.description}}</td>
                <td  data-title="Sensores">

                  <div layout="row" layout-align="end center">
                    <i flex ng-repeat="device in location.devices"  class="fa fa-lg {{device.type_name}}" title="{{device.type_name}}"></i>
                  </div>
                    

                </td>
            </tr>
        </tbody>
    </table>
</div>