<div flex layout="row" layout-align="center center" class="md-padding">
    <div flex="100" class="md-whiteframe-z2">
        <md-content style="overflow:hidden">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>Última hora</h3>
                    <span flex></span>
                </div>
            </md-toolbar>
            <div layout="column" layout-gt-sm="row" layout-fill layout-align="center center" class="md-padding">
                <div layout-align="center center" flex style="text-align:center">
                  
                    <canvas-gauge ng-if="vm.countId !== null" width="200" min="0" max="{{vm.locationId.max_capacity}}" value="vm.counterStatus.value" over-color="#009688"  mask="Aforo (@)" style="color: gray">
                    </canvas-gauge>

                    <p ng-if="vm.countId !== null" class="md-caption">Última actualización: {{ vm.counterStatus.date | date:'dd/MM/yyyy @ HH:mm' }}</p>
                    <div ng-if="vm.countId === null" style="text-align:center" class="md-padding">
                        <i class="fa fa-plug"></i>
                        <div>No hay contador</div>
                    </div>
                </div>
                <div layout-align="center center" flex layout-fill class="md-padding">
                    <div ng-if="vm.temperatureId !== null" style="text-align:center">
                        <p class="md-headline textHightlight">{{ vm.temperatureStatus.value }} ºC</p>
                        <p class="md-caption">Última actualización: {{ vm.temperatureStatus.date | date:'dd/MM/yyyy @ HH:mm' }}</p>
                    </div>
                    <div ng-if="vm.temperatureId === null" style="text-align:center">
                        <i class="fa fa-plug"></i>
                        <div>No hay sensor de temperatura</div>
                    </div>
                </div>
                <div layout-align="center center" flex layout-fill class="md-padding">
                    <div ng-if="vm.humidityId !== null" style="text-align:center">
                        <p class="md-headline textHightlight">{{ vm.humidityStatus.value }}% Humedad</p>
                        <p class="md-caption">Última actualización: {{ vm.humidityStatus.date | date:'dd/MM/yyyy @ HH:mm' }}</p>
                    </div>
                    <div ng-if="vm.humidityId === null" style="text-align:center">
                        <i class="fa fa-plug"></i>
                        <div>No hay sensor de humedad</div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>
<div flex layout="row" layout-align="center center" class="md-padding">
    <div flex="100" class="md-whiteframe-z2">
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>Información general</h3>
                    <span flex></span>
                </div>
            </md-toolbar>
            <div layout-gt-md="row" class="md-padding">
                <div flex>
                    <h4>Nombre:</h4>
                    <p class="md-padding">{{vm.locationId.name}}</p>
                    <h4>Localización:</h4>
                    <p class="md-padding">{{vm.locationId.city}}</p>
                    <h4>Descripcción:</h4>
                    <p class="md-padding">{{vm.locationId.description}}</p>
                </div>
                <div flex>
                    <h4>Fecha de alta:</h4>
                    <p class="md-padding">10-8-2015</p>
                </div>
            </div>
        </md-content>
    </div>
</div>
<div ng-if="vm.countId !== null" layout-gt-lg="row">
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Aforo del día</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart bindto-id="counter-historic-day" flex>
                        <chart-column column-id="x" column-values="{{vm.hoursTimeline}}" />
                        <chart-column column-id="Aforo" column-color="#3F51B5" column-values="10,35,30,42,63,40,0" column-type="spline" />
                        <chart-axes values-x="x" y="Aforo" />
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-type="category">
                                <chart-axis-x-tick tick-rotate="50" />
                            </chart-axis-x>
                        </chart-axis>
                        <chart-grid show-x="false" show-y="true">
                        </chart-grid>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Aforo de la semana</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart flex bindto-id="counter-historic-week" chart-data="counterWeekDatapoints" chart-columns="counterWeekDatacolumns" chart-x="datax">
                        <chart-axis-x axis-position="outer-center" axis-type="category">
                        </chart-axis-x>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
</div>
<div ng-if="vm.temperatureId !== null" layout-gt-lg="row">
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Temperatura del día</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart bindto-id="temperature-historic-day" flex>
                        <chart-column column-id="x" column-values="{{vm.hoursTimeline}}" />
                        <chart-column column-id="temperature" column-name="Temperatura" column-color="#3F51B5" column-values="3,3,4,4,5,6,9,10,12,16,17,20,22,24,24,23,25,27,24,23,22,19,18,19" column-type="spline" />
                        <chart-axes values-x="x" y="temperature" />
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-type="category">
                            </chart-axis-x>
                            <chart-grid show-x="false" show-y="true">
                            </chart-grid>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Temperatura de la semana</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart flex bindto-id="temperature-historic-week" chart-data="temperatureWeekDatapoints" chart-columns="temperatureWeekDatacolumns" chart-x="datax">
                        <chart-axis-x axis-position="outer-center" axis-type="category">
                        </chart-axis-x>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
</div>
<div ng-if="vm.humidityId !== null" layout-gt-lg="row">
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Humedad del día</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart bindto-id="humidity-historic-day" flex>
                        <chart-column column-id="x" column-values="{{vm.hoursTimeline}}" />
                        <chart-column column-id="humidity" column-name="Humedad" column-color="#3F51B5" column-values="3,3,4,4,5,6,9,10,12,16,17,20,22,24,24,23,25,27,24,23,22,19,18,13" column-type="spline" />
                        <chart-axes values-x="x" y="humidity" />
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-type="category">
                            </chart-axis-x>
                            <chart-grid show-x="false" show-y="true">
                            </chart-grid>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
    <div flex layout="row" layout-align="center center" class="md-padding">
        <div flex="100" class="md-whiteframe-z2">
            <md-content style="overflow:hidden">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Humedad de la semana</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div layout="row" layout-wrap layout-align="center center" class="">
                    <c3chart flex bindto-id="humidity-historic-week" chart-data="humidityWeekDatapoints" chart-columns="humidityWeekDatacolumns" chart-x="datax">
                        <chart-axis-x axis-position="outer-center" axis-type="category">
                        </chart-axis-x>
                    </c3chart>
                </div>
            </md-content>
        </div>
    </div>
</div>
