<md-dialog aria-label="Add device" flex-sm="100" flex-gt-sm="90" flex-gt-md="60" flex-gt-lg="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Añadir dispositivo</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="close" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-align="center center" class="md-padding">
        <form name="addDeviceForm" ng-submit="vm.answer()" layout-fill>
            <md-input-container flex>
                <label>Nombre</label>
                <input name="name" ng-model="vm.device.name" required md-maxlength="15">
                <ng-messages for="addDeviceForm.name.$error">
                    <div ng-messages-include="form-messages"></div>
                </ng-messages>
            </md-input-container>

            <md-input-container flex>
                <label>Tipo</label>
                <md-select name="type" ng-model="vm.device.type" required>
                  <md-option value="0">Contador</md-option>
                  <md-option value="1">Temperatura</md-option>
                  <md-option value="2">Humedad</md-option>
                </md-select>
                <ng-messages for="addDeviceForm.type.$error">
                    <div ng-messages-include="form-messages"></div>
                </ng-messages>
            </md-input-container>
            </br>
            <md-button type="submit" class="md-raised" ng-disabled="addDeviceForm.$invalid">Crear</md-button>
            <span ng-click="vm.cancel()"><md-button class="" >Cancelar</md-button></span>
        </form>
    </md-content>
</md-dialog>