<md-dialog aria-label="Add device" flex-sm="100" flex-gt-sm="90" flex-gt-md="60" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Añadir localización</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="close" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-align="center center" class="md-padding">
        <form ng-submit="vm.answer()" name="locationForm" layout-fill>
            <div layout layout-sm="column">
                <md-input-container  flex>
                    <label>Nombre</label>
                    <input required ng-model="vm.location.name" name="name" md-maxlength="15" >
                    <ng-messages for="locationForm.name.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
                <md-input-container  flex>
                    <label>Latitude</label>
                    <input required ng-model="vm.location.latitude" step="any" name="latitude" type="number">
                    <ng-messages for="locationForm.latitude.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
                <md-input-container  flex>
                    <label>Longitude</label>
                    <input required ng-model="vm.location.longitude" step="any" name="longitude" type="number">
                    <ng-messages for="locationForm.longitude.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container  flex>
                    <label>Dirección</label>
                    <input required ng-model="vm.location.address" name="address" >
                    <ng-messages for="locationForm.address.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
                <md-input-container  flex>
                    <label>Ciudad</label>
                    <input required ng-model="vm.location.city" name="city" md-maxlength="15">
                    <ng-messages for="locationForm.city.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
                <md-input-container  flex>
                    <label>Capacidad máxima</label>
                    <input required  ng-model="vm.location.max_capacity" name="max_capacity" min="0" type="number">
                    <ng-messages for="locationForm.max_capacity.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
                </md-input-container>
            </div>
            <md-input-container  flex>
                <label>Descripción</label>
                <textarea required  ng-model="vm.location.description" columns="1" md-maxlength="150"></textarea>
                <ng-messages for="locationForm.description.$error">
                        <div ng-messages-include="form-messages"></div>
                    </ng-messages>
            </md-input-container>
            <md-button ng-disabled="profileForm.$invalid" class="md-raised md-primary">Crear</md-button>
        </form>
    </md-content>
</md-dialog>